.carousel-caption-new{
    position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left:0.5% !important;
        height:max-content;
        transition: all .3s ease-out;

}

.btn-carousel{
    
    transform:translateY(-30%)
}

@media only screen and (min-width: 200px) and (max-width: 617px) {
   .new-height{
    height:200px !important;
   }
}
