.App {
    font-family: sans-serif;
    text-align: center;
}

.sticky {
    position: sticky;
    top: 0;
    margin-right: 2rem;
    color: blue;
}

.bottom100 {
    margin-top: 100rem;
}

.bottom200 {
    margin-top: 200rem;
}

#tag1 {
    padding: 4rem;
}

                h1,
                h2,
                h3,
                h4,
                h5,
                h6 {}
        
                a,
                a:hover,
                a:focus,
                a:active {
                    text-decoration: none;
                    outline: none;
                }
        
                a,
                a:active,
                a:focus {
                    color: #333;
                    text-decoration: none;
                    transition-timing-function: ease-in-out;
                    -ms-transition-timing-function: ease-in-out;
                    -moz-transition-timing-function: ease-in-out;
                    -webkit-transition-timing-function: ease-in-out;
                    -o-transition-timing-function: ease-in-out;
                    transition-duration: .2s;
                    -ms-transition-duration: .2s;
                    -moz-transition-duration: .2s;
                    -webkit-transition-duration: .2s;
                    -o-transition-duration: .2s;
                }
        
                ul {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                }
        
                img {
                    max-width: 100%;
                    height: auto;
                }
        
                section {
                    padding: 60px 0;
                    /* min-height: 100vh;*/
                }
        
                .btn {
                    padding: 14px 25px;
                    text-transform: uppercase;
                    -webkit-transition: all 0.8s;
                    -moz-transition: all 0.8s;
                    -o-transition: all 0.8s;
                    transition: all 0.8s;
                }
        
                .red-btn {
                    background: #ed1b24;
                    border: 2px solid #ed1b24;
                    color: #fff;
                }
        
                .red-btn:hover {
                    background: #1c376c;
                    color: #fff;
                    border-color: #ffffff;
                }
        
               
                .open-hours hr {
                    margin: 30px 0;
                }

                .carousel-elem{
                    width : 50% ;
                    position: initial;
                    
                    /* justify-content:left;
                    justify-self: flex-start; */
                    justify-items: flex-start;
                    height: 50%;
                    padding: 1rem;
                        border-radius: 5px;
                        font-size: 10px;
                    background-color: rgb(40, 167, 69);
                }

                .container{
                    /* height: 50%; */
                }

               

                .noticeBanner-wrapper {
                    position:relative;
                    background:rgba(236, 33, 39, .87)
                }

                                
                
                                .carousel-content {
                                    color: black;
                                    display: flex;
                                    align-items: center;
                                }
                
                                #text-carousel {
                                    width: 100%;
                                    height: auto;
                                    padding: 50px;
                                }


.grid-css{
    height:20% !important;
}

.disp-main{
    padding: 3em;
    display: grid;
    grid-gap:    2em;
    justify-items: center !important;
    


}



/* .disp-main {
    padding: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    justify-content: center;
   
    gap: 2em; 
 }    */



.disp-main{
    display: grid;
    /* max-width:100% !important; */
}



/* @media screen and (max-device-width: 480px) and (orientation: portrait) {
    .disp-main {
            max-width: 40em !important;
            
        }
} */

/* @media screen and (max-device-width: 480px) and (orientation: portrait) {
    .App .try-res2 .disp-main .try-res{
        max-width: 25em !important;

    }
} */




.m-top{
    margin-top: 30px !important;
}